.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.form-section {
  padding-top: 40px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
}
.form {
  width: 450px;
  border: 1px solid lightgray;
  padding: 30px 20px;
}
.add {
  display: flex;
}
.table-section {
  width: 900px;
  margin: 0 auto;
  padding-top: 20px;
}
.wrap {
  background-color: ghostwhite;
  height: 100vh;
}
.my-data {
  width: 100%;
}
img {
  width: 100%;
}
.card {
  width: 31%;
  margin: 10px;
}
.card-image {
  width: 177px;
  margin: 0 auto 20px;
}
.total img {
  width: 100%;
  height: 177px;
  width: 140px;
}
.card-price {
  font-size: 18px;
  font-weight: 600;
  color: #808080;
  display: block;
  margin-bottom: 10px;
}
.card-category {
  font-size: 15px;
  font-weight: 500;
  color: #808080;
  display: block;
}
.card:hover {
  background-color: rgba(192, 192, 192, 0.3);
}
.card a {
  position: absolute;
  top: 39%;
  left: 29%;
  background: gray;
  color: white;
  background: black;
  padding: 4px 39px;
  font-size: 17px;
  text-decoration: none;
  display: none;
  transition: all ease-in-out 0.5s;
}
.card:hover a {
  display: block;
  transition: all ease-in 0.5s;
}
.single-record {
  width: 97%;
}
.single-record .card-detail {
  width: 40%;
  padding-top: 90px;
  margin-left: 60px;
  text-align: left;
}
.single-record .card-image {
  width: 40%;
}
.single-record .img {
  width: unset;
  height: unset;
}
.card-description {
  font-size: 13px;
  color: gray;
  margin-bottom: 40px;
  line-height: 21px;
}
.single-record .card-title {
  margin-bottom: 20px;
}
.user-price {
  display: block;
  color: #000;
  font-size: 27px;
  margin-top: 7px;
}
